#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    1.python
    2.SQL
    3. R language
    4. JAVA
    5. C++
    6. HTML

Some of the commonly used libraries used by Data Scientists include:
    1. tensorflow
    2. pytorch
    3. Matplotlib

Data Scienc Tools
| Environment|
|------------|
|Apache Spark|
|MATLAB.     |
|EXCEL.      |

###Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:
- list of languages used in data science
- list of tools used in data science
- simple arithmetic expression